.blogdetail_page {
  .blog_detail {
    background-color: #0a192f;
    .blog_detail_main {
      width: 100%;
      max-width: 1024px;
      margin-left: auto;
      margin-right: auto;
      padding-left: 10px;
      padding-right: 10px;
      padding-top: 100px;
      padding-bottom: 20px;
      display: grid;
      grid-template-columns: 71% 27%;
      justify-content: space-between;

      .main_blogdetail {
        h1 {
          color: #ccd6f6;
          //   text-align: center;
          font-size: 35px;
        }

        .blogdetail_img {
          object-fit: cover;
          border-radius: 1px;
          padding-bottom: 50px;
        }

        h2 {
          color: #ccd6f6d3;
          margin-bottom: -5px;
        }

        p {
          color: #ccd6f693;
          padding-bottom: 17px;
          line-height: 25px;
        }
      }

      .blogdetail_right {
        padding-top: 60px;
        color: #ccd6f6;

        h2 {
          text-transform: capitalize;
        }
      }
    }
  }
}

@media screen and (max-width: 767px) {
  .blogdetail_page {
    .blog_detail {
      .blog_detail_main {
        padding-top: 80px;
        padding-bottom: 30px;
        display: grid;
        grid-template-columns: 100%;
        justify-content: center;

        .blogdetail_right {
          padding-top: 20px;
        }
      }
    }
  }
}
