.blog_page {
  background-color: #0a192f;

  .blog_page_main {
    width: 100%;
    max-width: 1024px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 15px;
    padding-right: 15px;
    padding-bottom: 20px;
    padding-top: 150px;
    display: grid;
    grid-template-columns: 30% 68%;
    gap: 20px;
    justify-content: space-between;
    // align-items: center;

    .left {
      .form {
        padding-bottom: 20px;
        .form_div {
          background-color: #ccd6f6;
          width: 85%;
          padding: 3px;
          display: flex;
          align-items: center;
          border-radius: 3px;
          position: relative;

          input {
            border: none;
            outline: none;
            padding: 5px 10px;
            font-size: 15px;
            background-color: #ccd6f6;
          }

          .submit_icon {
            position: absolute;
            top: 5px;
            right: 10px;
            cursor: pointer;
            color: rgb(37, 37, 37);
          }
        }
      }

      .tag_sec {
        h2 {
          color: #ccd6f6;
        }

        .tags {
          display: flex;
          flex-wrap: wrap;
          gap: 10px;
          span {
            padding: 5px 10px;
            border: 1px solid #64ffda;
            color: #64ffda;
            border-radius: 3px;
            cursor: pointer;
            transition: all 0.3s ease;

            &:hover {
              background-color: #64ffda;
              color: black;
            }
          }
        }
      }
    }

    .right {
      // display: grid;
      // grid-template-columns: 49% 49%;
      // gap: 25px;
      // justify-content: center;
      // align-items: center;
      min-height: 400px;

      .right_skeleton {
        display: grid;
        grid-template-columns: 49% 49%;
        gap: 25px;
        justify-content: center;
      }

      .right_main_blogs {
        display: grid;
        grid-template-columns: 49% 49%;
        gap: 25px;
        justify-content: center;
      }
    }
  }
}

@media screen and (max-width: 992px) {
  .blog_page {
    .blog_page_main {
      display: grid;
      grid-template-columns: 100%;
      gap: 50px;
      justify-content: center;

      .left {
        .form {
          padding-bottom: 10px;
          .form_div {
            width: 60%;

            input {
              width: 90%;
            }
          }
        }
      }
    }
  }
}

@media screen and (max-width: 576px) {
  .blog_page {
    .blog_page_main {
      padding-top: 130px;

      display: grid;
      grid-template-columns: 100%;
      gap: 40px;
      justify-content: center;

      .left {
        .form {
          padding-bottom: 0px;
          .form_div {
            width: 95%;

            input {
              width: 90%;
            }
          }
        }
      }

      .right {
        .right_skeleton {
          display: grid;
          grid-template-columns: 100%;
          gap: 25px;
          justify-content: center;
          align-items: center;
        }

        .right_main_blogs {
          display: grid;
          grid-template-columns: 100%;
          gap: 25px;
          justify-content: center;
          align-items: center;
        }
      }
    }
  }
}
