.contact_page {
  background-color: #0a192f;
  .contact_page_main {
    width: 100%;
    max-width: 1024px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 15px;
    padding-right: 15px;
    padding-bottom: 20px;
    padding-top: 50px;
  }
}
