.header {
  background-color: #0a192f;
  color: white;
  padding-top: 90px;
  height: 550px;
  z-index: 100;

  .header_main {
    width: 100%;
    max-width: 1024px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 120px;
    position: relative;
    z-index: 10;

    .header_main_left {
      overflow-x: hidden;
      h1 {
        color: #ccd6f6;
        font-size: 60px;
        margin-top: 0px;
        margin-bottom: 0px;
      }

      .name {
        color: #ccd6f6;
        font-size: 18px;
        font-weight: bold;
      }

      p {
        color: #ccd6f6;
        width: 60%;
        // padding-bottom: 20px;
      }
    }
  }
  .header_bg {
    position: absolute;
    top: 150px;
    right: 0;
    opacity: 0.15;
    z-index: 1;
  }
}

@media screen and (max-width: 1124px) {
  .header {
    .header_bg {
      display: none;
    }
  }
}

@media screen and (max-width: 576px) {
  .header {
    height: 630px;
    .header_main {
      padding-top: 100px;

      .header_main_left {
        h1 {
          font-size: 50px;
        }

        .header_animated_txt {
          height: 250px;
        }

        p {
          width: 90%;
        }
      }
    }
  }
}

@media screen and (max-width: 446px) {
  .header {
    height: 680px;
  }
}
