.header {
  background-color: #0a192f;
  color: white;
  padding-top: 90px;
  height: 550px;
  z-index: 100;

  .header_main {
    width: 100%;
    max-width: 1024px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 150px;

    h1 {
      color: #ccd6f6;
      font-size: 60px;
      margin-top: 0px;
      margin-bottom: 0px;
    }

    .name {
      color: #ccd6f6;
      font-size: 18px;
      font-weight: bold;
    }

    p {
      color: #ccd6f6;
      width: 60%;
    }
  }
}
