.blog_component {
  .image {
    cursor: pointer;
    transition: all 0.3s ease;
    width: 100%;
    border-radius: 2px;

    &:hover {
      scale: 1.03;
    }
  }

  h2 {
    color: #ccd6f6;
    transition: all 0.1s ease;
    cursor: pointer;
    margin-bottom: 0px;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;

    &:hover {
      color: #64ffda;
    }
  }

  p {
    color: #ccd6f6b0;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
  }

  .continue_reading {
    display: flex;
    align-items: center;
    color: #64ffda;
    cursor: pointer;
    padding-bottom: 5px;

    .continue_reading_icon {
      margin-left: 3px;
      font-size: 14px;
      margin-top: 3px;
      transition: all 0.3s ease;
    }
  }

  .continue_reading:hover .continue_reading_icon {
    margin-left: 8px;
  }
}

@media screen and (max-width: 576px) {
  .blog_component {
    .image {
      cursor: pointer;
      width: 100%;
      height: 250px;
    }
  }
}
