.projectt {
  .icon {
    margin-right: 7px;
    cursor: pointer;
    transition: all 0.3s ease;

    &:hover {
      color: #64ffda;
    }
  }

  .icon2 {
    margin-left: 7px;
    cursor: pointer;
    transition: all 0.3s ease;

    &:hover {
      color: #64ffda;
    }
  }

  .l_t_r {
    display: grid;
    grid-template-columns: 51% 45%;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 90px;

    .project_img {
      cursor: pointer;
      object-fit: cover;
      border-radius: 2px;
    }

    .Tilt {
      transition: all 0.2s ease;
    }

    .l_t_r_txt {
      h2 {
        color: #ccd6f6;
        transition: all 0.3s ease;
        cursor: pointer;

        &:hover {
          color: #64ffda;
        }
      }

      .iconss {
        color: #ccd6f6;
        display: flex;
        align-items: center;
      }

      .project_detail {
        color: #ccd6f6;
        overflow: hidden;
        text-overflow: ellipsis;
        display: -webkit-box;
        -webkit-line-clamp: 4;
        -webkit-box-orient: vertical;
      }

      .r_t_l_tools {
        color: #64ffda;

        span {
          margin-right: 5px;
        }
      }
    }
  }

  .r_t_l {
    display: grid;
    grid-template-columns: 51% 45%;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 90px;
    text-align: right;

    .project_img {
      cursor: pointer;
      object-fit: cover;
      border-radius: 2px;
    }

    .Tilt {
      transition: all 0.2s ease;
    }

    .r_t_l_txt {
      h2 {
        color: #ccd6f6;
        transition: all 0.3s ease;
        cursor: pointer;

        &:hover {
          color: #64ffda;
        }
      }

      .iconss {
        color: #ccd6f6;
        display: flex;
        align-items: center;
        justify-content: end;
      }

      .project_detail {
        color: #ccd6f6;
        overflow: hidden;
        text-overflow: ellipsis;
        display: -webkit-box;
        -webkit-line-clamp: 5;
        -webkit-box-orient: vertical;
      }

      .r_t_l_tools {
        color: #64ffda;
        text-align: right;

        span {
          margin-right: 5px;
        }
      }
    }
  }
}

@media screen and (max-width: 767px) {
  .projectt {
    .l_t_r {
      display: grid;
      grid-template-columns: 90%;
      justify-content: center;
      align-items: center;
      margin-bottom: 70px;

      .project_img {
        padding-top: 20px;
        width: 90% !important;
      }
    }

    .r_t_l {
      display: grid;
      grid-template-columns: 90%;
      justify-content: center;
      align-items: center;
      margin-bottom: 30px;
      text-align: right;

      .project_img {
        width: 90% !important;
      }
    }
  }
}

@media screen and (max-width: 576px) {
  .projectt {
    .l_t_r {
      display: grid;
      grid-template-columns: 100%;
      justify-content: center;
      align-items: center;
      margin-bottom: 50px;

      // .l_t_r_txt {
      //   .r_t_l_tools {
      //     span {
      //       margin-right: 5px;
      //       font-size: 15px;
      //     }
      //   }
      // }

      .project_img {
        padding-top: 20px;
        width: 90% !important;
        margin-left: 5%;
      }
    }

    .r_t_l {
      display: grid;
      grid-template-columns: 100%;
      justify-content: center;
      align-items: center;
      margin-bottom: 30px;
      text-align: right;

      .project_img {
        width: 90% !important;
        margin-right: 5%;
      }
    }
  }
}
