.aboutme {
  background-color: #0a192f;
  z-index: 100;

  .aboutme_main {
    // padding-top: 70px;
    padding-bottom: 40px;
    width: 100%;
    max-width: 1024px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 15px;
    padding-right: 15px;
    display: grid;
    grid-template-columns: 48% 48%;
    justify-content: space-between;
    align-items: center;

    .profileImg {
      object-fit: cover;
      z-index: 1;
      border-radius: 2px;
    }

    .text {
      h2 {
        color: #ccd6f6;
      }

      p {
        color: #ccd6f6;
        font-size: 17px;
      }

      .expertise {
        margin-top: 20px;
        margin-bottom: -10px;
      }

      ul {
        display: grid;
        grid-template-columns: 50% 50%;
        justify-content: space-between;
        align-items: center;
        color: #ccd6f6;
        list-style-type: square;

        li {
          margin-bottom: 3px;
        }
      }
    }
  }
}

@media screen and (max-width: 767px) {
  .aboutme {
    .aboutme_main {
      display: grid;
      grid-template-columns: 100%;
      justify-content: center;
      align-items: center;

      .profileImg {
        padding-bottom: 20px;
      }
    }
  }
}
