.blogs_sec {
  background-color: #0a192f;

  .blogs_sec_main {
    width: 100%;
    max-width: 1024px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 20px;

    .blog_component {
      // height: 100px;
      padding-bottom: 20px;

      .image {
        cursor: pointer;
        transition: all 0.3s ease;
        object-fit: cover;

        &:hover {
          scale: 1.03;
        }
      }

      h2 {
        color: #ccd6f6;
        transition: all 0.1s ease;
        cursor: pointer;
        margin-bottom: 0px;

        &:hover {
          color: #64ffda;
        }
      }

      p {
        color: #ccd6f6b0;
        overflow: hidden;
        text-overflow: ellipsis;
        display: -webkit-box;
        -webkit-line-clamp: 3;
        -webkit-line-orient: vertical;
      }

      .continue_reading {
        display: flex;
        align-items: center;
        color: #64ffda;
        cursor: pointer;
        padding-bottom: 5px;

        .continue_reading_icon {
          margin-left: 3px;
          font-size: 14px;
          margin-top: 3px;
          transition: all 0.3s ease;
        }
      }

      .continue_reading:hover .continue_reading_icon {
        margin-left: 8px;
      }
    }
  }

  .see_all_btn {
    width: 100%;
    max-width: 1024px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 10px;
    padding-right: 10px;
    text-align: center;

    button {
      padding: 15px 25px;
      margin-bottom: 50px;
      border: none;
      background-color: #64ffda;
      border-radius: 3px;
      font-weight: bold;
      cursor: pointer;
    }
  }
}
